.main {
    background: #ffffff url("../images/0.8-porcento.png") no-repeat left center;
    background-size: cover;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.section-button {
    background: #ffffff4f;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
    margin: auto 15px;
    justify-content: space-around;
    align-items: center;
}

.button > a {
    padding: 20px 30px;
    cursor: pointer;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    font-size: 1.3rem;
    background-color: #7ae6ea;
    border-radius: 13px;
}

.section-button .fa-github-square, .section-button .fa-instagram-square, .section-button .fa-linkedin {
    font-size: 2.5rem;
    color: #000;
    margin: 0 20px;
    cursor: pointer;
}